* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: Lato, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* utility */
.lh-1 {
  line-height: 30px;
}

.lh-2 {
  line-height: 35px;
}

.underline {
  width: 150px;
  border: 3px solid #eee;
  margin: auto;
}

.underline-dark {
  border: 3px solid #888;
}

/* end of utility */

/* header */

header {
  height: 100vh;
  /* اولی برای تیره تر شدن بک گراند اول رنگ و بعد عکس */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../../Assests/img/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* end of header */

/* banner */

/* نوشته اومد در وسط */
/* .banner{
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50% ,-50%)
} */

.banner {
  overflow-x: hidden;
}

.text-font,
.text-font span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
}

.banner-heading {
  animation-name: anim;
  animation-duration: 3s;
}



.banner-par {
  animation-name: anim2;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    color: red;
  }
}


@media (max-width: 570px) {
  .banner-par span{
    font-size: 1.2rem

  }

}

/* end of banner */

/* navbar */

.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 1.5rem;
  /* for scroll window>200 */
  transition: all 0.7s;
}

.menu-item {
  font-size: 1.1rem;
  color: #eee;
  transition: color 0.9s;
  /*  for move soft */
}
.menu-item:hover {
  color: #70aed2;
}

/* همبرگر منو */
.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  margin: 5px;
  /* for close and open soft */
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custum-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

@media (max-width: 992px) {
  .nav-menu {
    display: flex;
    justify-content: end;
  }
}

/* end of navbar */

/* awards */

.awards {
  background-color: #151f20;
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* end of awads */

/* servises */

.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  background-color: #2980b9;
  position: absolute;
  bottom: 50px;
  left: 0;
  /* right:0; */
  font-size: 25px;
  width: 50%;
  cursor: pointer;
  opacity: 0.8;
  /* برای این که اون هاور ملایم باشه */
  transition: all 0.7s;
}

.heading:hover {
  opacity: 1;
}


.hover-zoomout a {
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-zoomout img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.hover-zoomout:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media(max-width: 1200px){
  .heading{
    font-size:18px
  }
}
@media(max-width: 768px){
  .heading{
    font-size:16px
  }
}

/* end of servises */


/* gallery */
.list {
  color: #777;
  cursor: pointer;
  /* user-select: none; */
}

.active {
  color: #70aed2;
}

.filter.hide {
  display: none;
}


@media(max-width: 570px){
  .GalleryBox{
    overflow-x: hidden;
  }
  
}


@media (min-width: 320px) and (max-width: 450px) {
  .headerGallery span {
    /* font-size: 0.7rem;
    font-weight: bolder; */
    margin-right: 0.09rem;
    margin-left: 0.09rem;
  }
 }




/* end of gallery */

/* trainers*/

.trainers {
  background-color: #151f20;
}

/* end of trainers */

/* membership */

.membership {
  overflow-x: hidden;
}
.card-1,
.card-2,
.card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../../Assests/img/gallery1.jpg");
  background-size: cover;
  box-shadow: 7px 8px 50px #555;
  max-width: 370px;
}

.cart-list-item {
  border-bottom: 1px groove #eee;
  /* برای این که اون بوردر باتن کوچک شود */
  width: 55%;
  /* برای این که در وسط قرار گیرد */
  margin: auto;
}

.membership-card-button {
  background-color: #2980b9;
  width: 130px;
  border-radius: 25px;
  transition: all 0.4s;
}

.membership-card-button:hover {
  background-color: #3498db;
  transform: translateY(-2px);
}


@media(max-width: 570px){
  .GalleryBox{
    overflow-x: hidden;
  }
  
}

/* end of membership */

/* contact */

.contact {
  /* 0  در ابتدای کار */
  /* قرمز در وسط کار */
  /* ابی در انتهای کار */
  /* اگر  ابی و قرم 50 باشن هر دو در وسط کار میشن */
  background: linear-gradient(105deg ,rgba(21,31,32, 0.8) 0%, rgba(21,31,32, 0.9) 50%, transparent 50%),url("../../Assests/img/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input{
  background: transparent;
  border: none;
  border-color: transparent;
  border-radius: 0px;
  color: #000;
  border-bottom: 2px solid #ccc;
  transition: all .8s;
}

.input:focus{
  background: transparent;
  border: none;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid #f5593d;
}

.submit-button{
  background-color: #2980b9;
  color: #eee;
  transition: all .3s;
}

.submit-button:hover{
  background-color: #3498db;
  transform: translateY(-3px);
}

.label{
  color: #777;
  display: block;
  font-size: 13px;
  margin-top: -70px;
  margin-right: 4px;
  transition: all .4s;
}

.input:placeholder-shown + .label {
  transform: translate(20px ,20px);
  opacity: 0;
  visibility: hidden;
}

@media(max-width: 992px){
  .contact{
    background: linear-gradient(105deg, rgba(21,31,32,.8) 0%,rgba(21,31,32,.9) 50%);
  }
  .contact-form{
    width: 80%;
    margin: auto;
  }
}
/* end of contact */


/* footer  */
.footer-link{
  color: #eee;
  font-size: 13px;
  text-decoration: none;
  transition: all .3s;
}

.footer-link:hover{
  color: #70aed2;
  text-decoration: none;
}
/* end of footer  */